#main{
    width: 100%;
    height: 400px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    /* justify-content: baseline; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-items: flex-start;
    justify-content: center;
    /* align-content: center; */

    
    gap: 10px;
    
}
.items{
    width: 50px;
    height: 150px; 
     display: inline-block
}
.item-1{
    /* flex-grow: 2; */
    /* width: 130px; */
    height: 100px;

    background-color: purple;

    
}
.item-2{
    background-color: pink;
    /* width: 150px; */
    height: 140px;
    /* flex-shrink: calc(12); */

}
.item-3{
    background-color: orange;
    /* flex-grow: 3; */
    width: 110px;
}

.item-4{
    background-color: brown;
    width: 160px;
}
.item-5{
    background-color: aqua;
    height: 200px;

}