
.container{
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
}
.container1{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 20px;
}