.persion1{
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    top: 310px;
    left: 140px;

}
.persion2{
    width: 200px;
    height: 200px;
    background-color: blue;
    position: relative;
    top: 20%;
    left: 80%;
    z-index: 2;
}
.persion3{
    width: 200px;
    height: 200px;
    background-color: yellow;
}
.persion4{
    width: 200px;
    height: 200px;
    background-color: hotpink;
    position: relative;
    ;
    
}
.setbgimg{
    position: fixed;
    top: 0;
    right: 0
;    width: 400px;
    height: 400px;
    /* background-color: aquamarine; */
    background-image: url("/Day4/shubham-dhage-yqQGPjr4Lk0-unsplash.jpg");
    /* background-size: contain; */
    background-size: cover;
    background-repeat: no-repeat;
}