#header{
    width: 100%;
    height: 100px;
    background-color: black;
}
#navbar{
    background-color: green;
    border: 1px solid red;
}
.unlist{
    display:flex;
    flex-direction: row;
    justify-content: center;

    gap: 25px;
    list-style-type: none;
}
.clist,a{
    font-size: 20px;
    text-decoration: none;
}

img{
    position: fixed;
    backdrop-filter: inherit;
    border-radius: 100%;
    top: 20px;
    width: 60px;
    height: 40px;
}