*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}

#navbar{
    width: 100%;
    height: 100px;
    background-color: rgb(66, 65, 65)
}
.unlist{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    text-decoration: none;
}
ul li a {
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;
}
ul li {
    margin: 0 1.0rem;
}
/* hover-effect */
nav ul li a:hover{
    background-color: #555;
    border-radius: 5px;

    
}
nav ul li a{
     color: white;
            text-decoration: none;
            font-size: 1.1rem;
            padding: 0.5rem 1rem;
            display: block;
            transition: background-color 0.3s;
    
}
nav ul li a.active{
    background-color: #555;
    border-radius: 6px;
}
 /* Demo content */
        .content {
            padding: 2rem;
            text-align: center;
        }

        .content h1 {
            color: #333;
            margin-bottom: 1rem;
        }

        .content p {
            color: #666;
            line-height: 1.6;
        }
/* Responsive design for tablets and smaller */
@media screen and (max-width:768px){
    .unlist{
    flex-direction: column;
    
    }
    li{
        margin: 0.2;
        width: 100%;
        text-align: center;
    }
    nav ul li a{
        width: 100%;
    }
#navbar{
    height: 100%;
    /* width: 100%; */
}

}