/* .first{
    background-color: black;
    color: white;
    display: inline;
} */
 /* .second{
    background-color: green;
    color: plum;
    display: block;
 } */
  /* jaab v ham block-elements ko display inline denege taab ham nahi us ke uper width ,height,margin,padding kuch kaam nahi karega But agr ham wahi block-element ko display propert inline-block dedee tab hum width ,height,padding,margin sab property used kar sakte hain but block-elements behavier inline hoga  */
  .box{
    width: 300px;
    height: 300px; 
    margin: 20px;
    padding: 10px;
    display: inline-block;
    
    ;
  }
  .box1{
    background-color: yellow;
    color: blue;
    

  }
  .box2{
    background-color: red;
  }
  .box3{
    background-color: pink;
  }
  /* display none set kardu too iska matlab hai ke poora documents se elemets hat jaiga and space baan jaiga */
  /* Visibility agar ham none kar de koyi v lelements ka to iska matlab hain ke Elements to gayab ho jaiga but space khali nahi hoga  */
  #pass{
    width: 200px;
    height: 200px;
    background-color: yellow;
    display: none; 
  }
   /* #pass{
    width: 200px;
    height: 200px;
    background-color: yellow;
visibility: hidden; 
  } */
   /* projects css-styles */
   .header{
    background-color: black;
    color: white;
    width: 100%;
    height: 50%;
    
   }
   .unlist{
    display: flex;
    gap: 10px;
    padding: 10px;
    list-style-type: none
   }
   #content{
    background-color: rgb(250, 90, 90);
    width: 100%;
    height: 100%;
    margin: 30px;
    display: inline-block;
    /* display: flex */

   }
   .box1{
    background-color: pink;
    width: 200px;
    height: 200px;
    margin: 30px;
   }
   .box2{
    
    width: 200px;
    margin: 20px;
    height: 200px;
    background-color: yellow;
   }
   
    .box3{
      margin: 3px;
      width: 200px;
      height: 200px;
      background-color: green;
      margin: 20px;
    
 }